<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Demo OpenShift</title>
</head>
<body>
  <h1>Estoy conectado a la IP: <%= ip %>  Port: <%= port %></h1>
</body>
</html>
